.hero-img {
  height: 100vh;
  width: 50vw;
  background-image: url("/public/Image.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 50px;
}

.hero-wrapper {
  display: flex;
  margin-bottom: 12vh;
  position: relative;
}

.dayNight {
  position: absolute;
  gap: 10px;
  right: 0;
}

.para {
  display: flex;
  justify-content: flex-end;
  margin: 40px 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}

.hero-text p {
  text-align: left;
}

.hero-text h2 {
  text-decoration: underline;
  text-decoration-color: #cbea7b;
  text-underline-offset: 10px;
}

.button-wrapper {
  display: flex;
}

#btn-starter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  height: 2.7rem;
  width: 8.5rem;
  background: #cbea7b;
  margin-right: 20px;
  cursor: pointer;
}
#btn-starter a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

#btn-book a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

#btn-book {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  height: 2.7rem;
  width: 8.5rem;
  background: #e9eedc;
  cursor: pointer;
}

.customer-div {
  display: flex;
  justify-content: left;
  margin-top: 4rem;
}

.customer-div img {
  width: 6vw;
  height: 6.5vh;
}

.customer-div p {
  display: flex;
  align-items: center;
  width: 9vw;
}
