footer {
  width: 100vw;
  display: flex;
  background-color: #1a3129;
  align-items: center;
  justify-content: space-evenly;
  height: 16vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.7rem;
  margin: 0 15px;
  cursor: pointer;
}
.gototop {
  display: flex;
  align-items: center;
}
.footer-p {
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}

img {
  height: 2rem;
  margin: 0 15px;
  cursor: pointer;
}
