.navbar-wrapper {
  display: flex;
  justify-content: space-between;
}

header {
  width: 100vw;
  display: flex;
  background-color: #1a3129;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.7rem;
  margin: 0 15px;
  cursor: pointer;
}

.contact-button {
  background-color: #cbea7b;
  border-radius: 8px;
  padding: 14px 24px;
  cursor: pointer;
}

img {
  height: 2rem;
  margin: 0 15px;
}
